{% extends '@theme/layout.twig' %}
{% set meta_description = entry.field('meta_description') %}

{% block title %}{{ entry.field('title') }} · {{ site.name }}{% endblock %}

{% block content %}
<section class="hero">
    <div class="container">
        <div class="hero-narrow">
            <h1>{{ entry.field('title') }}</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <article class="article">
            {{ entry.field('body')|markdown }}
        </article>
    </div>
</section>
{% endblock %}
